[Desktop Entry]
Version=1.0
Name=Set as executable
GenericName=Set as executable
Exec=chmod +x %F
Comment=Set AppImage as executable
Terminal=false
Type=Application
Icon=application-x-executable
